{% extends 'base.html' %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-6" style="align-self: center;">
                    <div class="small-box">
                        <div class="inner">
                            <p>Total Shipment</p>
                            <h2 class="text-success" id="total_shipment">70 Shipment</h2>
                            <p>Shipment per Jan - {{ bulan }} 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6" style="align-self: center;">
                    <div class="small-box">
                        <div class="inner">
                            <p>Total Produksi</p>
                            <h2 class="text-info">1.800.800.300 M/T</h2>
                            <p>Shipment per Jan - {{ bulan }} 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="info-box">
                        <div class="info-box-content">
                            <p>Pendapatan Per Januari-Juli 2022</p>
                            <span class="info-box-number text-success">Rp. 1,300,200,100</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="info-box-content">
                            <p>Pendapatan Per Januari-Desember 2021</p>
                            <span class="info-box-number text-secondary">Rp. 1,400,300,300</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <h3 class="info-box-number">Selisih Pendapatan</h3>
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number text-danger">Rp. 1,400,300,300</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-primary" style="padding: 1pc">
        <h5 class="card-title">Number of Ships unloaded per 2022</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="chart">
                        <canvas id="kapalChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row" id="ship_month">
                        <div class="col-md-3">
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">15</h3>
                                </div>
                                <a href="#" class="small-box-footer text-black">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Jan
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">1</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Feb
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">9</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Mar
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">2</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Apr
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">6</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    May
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">8</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Jun
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">4</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Jul
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">3</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Aug
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">3</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Sep
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">1</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Oct
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">0</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Nov
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- small card -->
                            <div class="small-box">
                                <div class="inner">
                                    <h3 class="text-center">5</h3>
                                </div>
                                <a href="#" class="small-box-footer">
                                    <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                         style="width: 1pc">
                                    Dec
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-info" style="padding: 1pc">
        <h5 class="card-title">Number of Coal Cargo unloaded per 2022</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="chart">
                        <canvas id="cargoBabaChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6" id="cargo1_month">
                            <div class="info-box">
                                <span class="info-box-icon">
                                    <img src="{{ url_for('static', filename='images/ic_cargo.png') }}">
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 275,590.659 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 212,933.143 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 240,744.035 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 223,580.065 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 226,774.140 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 187,555.053 M/T</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="cargo2_month">
                            <div class="info-box">
                                <span class="info-box-icon">
                                    <img src="{{ url_for('static', filename='images/ic_cargo.png') }}">
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 130,272.911 M/T</span>
                                </div>
                            </div>
                            <div class="info-box"><span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 0.000 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 0.000 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                    <span class="info-box-icon">
                                        <img
                                                src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 0.000 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                    <span class="info-box-icon">
                                        <img src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 2.000 M/T</span>
                                </div>
                            </div>
                            <div class="info-box">
                                <span class="info-box-icon">
                                    <img src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success"> 0.000 M/T</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $.sum = function (arr) {
                let r = 0;
                $.each(arr, function (i, v) {
                    r += +v;
                });
                return r;
            }

            function updateChart() {
                $.ajax({
                    url: "{{ url_for('main_v.data_chart') }}",
                    success: function (res) {
                        let dship = res['data_ship'],
                            dcargo = res['data_cargo'],
                            bulans = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                            areaChartCanvas = $('#kapalChart').get(0).getContext('2d'),
                            lineChartCanvas = $('#cargoBabaChart').get(0).getContext('2d')

                        new Chart(areaChartCanvas, {
                            type: 'line',
                            data: {
                                labels: bulans,
                                datasets: [
                                    {
                                        label: 'Completed Ship',
                                        backgroundColor: 'rgba(60,141,188,0.2)',
                                        borderColor: 'rgba(60,141,188,0.8)',
                                        pointColor: '#FFFFFF',
                                        pointStrokeColor: 'rgba(60,141,188,1)',
                                        pointHighlightFill: '#fff',
                                        pointHighlightStroke: 'rgba(60,141,188,1)',
                                        data: dship
                                    },
                                ]
                            },
                            options: {
                                maintainAspectRatio: false,
                                responsive: true,
                                legend: {
                                    display: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            display: false,
                                        }
                                    }],
                                    yAxes: [{
                                        gridLines: {
                                            display: false,
                                        }
                                    }]
                                }
                            }
                        });
                        new Chart(lineChartCanvas, {
                            type: 'line',
                            data: {
                                labels: bulans,
                                datasets: [
                                    {
                                        label: 'Completed coal Cargo',
                                        backgroundColor: 'rgba(14, 214, 46, 0.2)',
                                        borderColor: 'rgba(14, 214, 46, 0.8)',
                                        pointColor: '#FFFFFF',
                                        pointStrokeColor: 'rgba(14, 214, 46, 1)',
                                        pointHighlightFill: '#fff',
                                        pointHighlightStroke: 'rgba(14, 214, 46, 1)',
                                        data: dcargo
                                    }
                                ]
                            },
                            options: {
                                maintainAspectRatio: false,
                                responsive: true,
                                legend: {
                                    display: false
                                },
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            display: false,
                                        }
                                    }],
                                    yAxes: [{
                                        gridLines: {
                                            display: false,
                                        }
                                    }]
                                }
                            }
                        });
                        setTimeout(updateChart, (3600 * 1000)) //update per 3600 detik = 1 jam
                        console.log($.sum(res['data_ship']))
                        let isi_ship = "",
                            isi_cargo1 = "",
                            isi_cargo2 = ""
                        $.each(res['data_ship'], function (i, v) {
                            isi_ship += `
                                <div class="col-md-3">
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">${v}</h3>
                                        </div>
                                        <a href="#" class="small-box-footer text-black">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            ${bulans[i]}
                                        </a>
                                    </div>
                                </div>
                            `;
                        });
                        $.each(res['data_cargo'], function (i, v) {
                            if (0 < i && i < 7) {
                                isi_cargo1 += `
                                    <div class="info-box">
                                        <span class="info-box-icon">
                                            <img src="{{ url_for('static', filename='images/ic_cargo.png') }}">
                                        </span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> ${v} M/T</span>
                                        </div>
                                    </div>
                                `;
                            } else {
                                isi_cargo2 += `
                                    <div class="info-box">
                                        <span class="info-box-icon">
                                            <img src="{{ url_for('static', filename='images/ic_cargo.png') }}">
                                        </span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> ${v} M/T</span>
                                        </div>
                                    </div>
                                `;
                            }
                        });

                        $("#total_shipment").text(`${$.sum(res['data_ship'])} Shipments`)
                        $("#ship_month").html(isi_ship)
                        $("#cargo1_month").html(isi_cargo1)
                        $("#cargo2_month").html(isi_cargo2)
                    }
                });
            }

            updateChart();

        })
    </script>
{% endblock %}
