{% extends 'base.html' %}



{% block css %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box">
                                <div class="inner">
                                    <p>Total Shipment</p>

                                    <h4 class="text-success">70 Shipment</h4>

                                    <p>Shipment Per Januari - Juli 2022</p>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box">
                                <div class="inner">
                                    <p>Total Produksi</p>

                                    <h4 class="text-info">1.870.890.332 M/T</h4>

                                    <p>Shipment Per Januari - Juli 2022</p>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box">
                                <div class="inner">
                                    <p></p>

                                    <h4 class="text-success">Rp. 2,874,847,324,00</h4>

                                    <p>Shipment Per Januari - Juli 2022</p>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="info-box">
                                            <span class="info-box-icon bg-success"><i
                                                    class="far fa-envelope"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-success">Rp. 1,324,234,123</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <div class="info-box">
                                <span class="info-box-icon bg-danger"><i class="far fa-envelope"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number text-danger">Rp. 1,410,321,313</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                </div>
            </div>

            <div class="card card-primary" style="padding: 1pc">
                <h5 class="card-title">Jumlah Kapal Yang Dibongkar Pertahun 2022</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="chart">
                                <canvas id="areaChart"
                                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">15</h3>
                                        </div>
                                        <a href="#" class="small-box-footer text-black">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Jan
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">1</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Feb
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">9</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Mar
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">2</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Apr
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">6</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Mei
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">8</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Jun
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">4</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Jul
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">3</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Agt
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">3</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Sep
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">1</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Okt
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">0</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Nov
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- small card -->
                                    <div class="small-box">
                                        <div class="inner">
                                            <h3 class="text-center">5</h3>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            <img src="{{ url_for('static', filename='images/ic_boat.png') }}"
                                                 style="width: 1pc">
                                            Des
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-info" style="padding: 1pc">
                <h5 class="card-title">Jumlah Cargo Batu Bara yang di bongkar 2022</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="chart">
                                <canvas id="lineChart"
                                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- small card -->
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                                    <span class="info-box-icon"><img
                                                            src="{{ url_for('static', filename='images/ic_cargo.png') }}"></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number text-success"> 238,342.342 M/T</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}