{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Label -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>SPB Long Towing</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Label -->

            <!-- Data Shipment -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>DATA SHIPMENT ID : 98656</h4>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>SHIPMENT SHIP</th>
                            <th>SHIP OWNER</th>
                            <th>SHIPPER</th>
                            <th>AGEN</th>
                            <th>BILL OF LADING</th>
                            <th>CARGO(BL) M/T</th>
                            <th>PELABUHAN MUAT/VESSEL STS</th>
                            <th>TIME ANCHORAGE</th>
                            <th>TIME BERTHED</th>
                            <th>KETERANGAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SPB JAYAKARTA 33</td>
                            <td>-</td>
                            <td>CV. CINTA PURI PRATAMA QQ PT. REKAMITRA CIPTA TAMBANG</td>
                            <td>ALFIAN BUDIARTO</td>
                            <td>24739834</td>
                            <td>28,000,000 M/T</td>
                            <td>TANJUNG BARA INDONESIA</td>
                            <td>2022-07-13T 09:00</td>
                            <td>2022-07-13T 12:00</td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-info" data-toggle="modal"
                                       data-target="#modal-xl"><img class="img-sm"
                                                                    src="{{ url_for('static', filename='images/Vector.png') }}"
                                                                    alt=""></a>&nbsp;
                                    <a href="" class="btn btn-danger"><img class="img-sm"
                                                                           src="{{ url_for('static', filename='images/icon_30.png') }}"
                                                                           alt=""></a>&nbsp;
                                    <a href="" class="btn btn-success"><img class="img-sm"
                                                                            src="{{ url_for('static', filename='images/icon_25.png') }}"
                                                                            alt=""></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form OTW -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>FORM - OTW</h4>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>TIME DEPARTURE PORT OF LOAD</th>
                            <th>ETA ANCHORAGE</th>
                            <th>NOTE - OTW</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2022-11-11</td>
                            <td>2022-11-11</td>
                            <td>otw</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form Anchorage -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>FORM - ANCHORAGE</h4>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>TIME ARRIVAL ANCHORAGE</th>
                            <th>EST BERTHED</th>
                            <th>REMARK</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2022-11-11</td>
                            <td>2022-11-11</td>
                            <td>otw</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form Bethed -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>FORM - BERTHED</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>TUGBOAT ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>N0</th>
                                    <th>NAMA TUGBOAT</th>
                                    <th>MASTER TUGBOAT</th>
                                    <th>START TIME</th>
                                    <th>END TIME</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>PANDU ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>PANDU NAME</th>
                                    <th>TIME UP</th>
                                    <th>TIME DOWN</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>TIME START FROM ANCHORAGE</th>
                            <th>TIME BERTHED</th>
                            <th>APPROACH TIME</th>
                            <th>NOR TENDERED</th>
                            <th>NOR ACCEPTED</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2022-11-10T10:32</td>
                            <td>2022-11-11</td>
                            <td>0:0</td>
                            <td>2022-11-10T10:32</td>
                            <td>2022-11-10T10:32</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>COMMENCE DISCHARGE</th>
                            <th>EST COMPLETED</th>
                            <th>EST CAST OF</th>
                            <th>REMARK - BERTHED</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2022-11-10T10:32</td>
                            <td>2022-11-11</td>
                            <td>2022-11-11</td>
                            <td>BERTHED</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form Cast Of Jetty -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>FORM - CAST OF JETTY</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>TUGBOAT ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>N0</th>
                                    <th>TUGBOAT NAME</th>
                                    <th>MASTER TUGBOAT</th>
                                    <th>START TIME</th>
                                    <th>END TIME</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>PANDU ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>PANDU NAME</th>
                                    <th>TIME UP</th>
                                    <th>TIME DOWN</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>CAST OF JETTY</th>
                            <th>COMMENCE COMPLETED</th>
                            <th>FINAL DRAUGHTSURVEY</th>
                            <th>REMARK - CAST OF JETTY</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form - SHIFTING IN -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>FORM - SHIFTING IN</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>TUGBOAT ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>N0</th>
                                    <th>TUGBOAT NAME</th>
                                    <th>MASTER TUGBOAT</th>
                                    <th>START TIME</th>
                                    <th>END TIME</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>PANDU ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>PANDU NAME</th>
                                    <th>TIME UP</th>
                                    <th>TIME DOWN</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>TIME SHIFTING IN</th>
                            <th>REMARK - SHIFTING IN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form - SHIFTING OUT -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>FORM - SHIFTING OUT</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>TUGBOAT ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>N0</th>
                                    <th>TUGBOAT NAME</th>
                                    <th>MASTER TUGBOAT</th>
                                    <th>START TIME</th>
                                    <th>END TIME</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <label>PANDU ASSIT IN</label>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>PANDU NAME</th>
                                    <th>TIME UP</th>
                                    <th>TIME DOWN</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>TIME SHIFTING OUT</th>
                            <th>REMARK - SHIFTING OUT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->

            <!-- Form - UPLOAD DOCUMENT -->
            <div class="card card-secondary" style="padding: 1pc">
                <div class="card-header">
                    <h4>UPLOAD DOCUMENT</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nama_bl">Information on Documents to be Uploaded:</label>
                            <input type="text" class="form-control" id="file"
                                   placeholder="Input Information on Documents to be Uploaded">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form class="box" method="post" action="" enctype="multipart/form-data">
                            <div class="box__input">
                                <input class="box__file" type="file" name="files[]" id="file"
                                       data-multiple-caption="{count} files selected" multiple/>
                                <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                                <button class="box__button" type="submit">Upload</button>
                            </div>
                            <div class="box__uploading">Uploading…</div>
                            <div class="box__success">Done!</div>
                            <div class="box__error">Error! <span></span>.</div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="card-header">
                            <label for="nama_bl">Information on Documents to be Uploaded:</label>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>File Tongkang</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

        </div>
    </div>
{% endblock %}